<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="ecmadao,前端,Koa,Node,Node.js,webpack">
    <meta name="description" content="A Todo web app build with Koa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wlec@outlook.com">
    <meta name="copyright" content="ecmadao">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="{{ csrf }}">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="cache-control" content="no-cache">
    <title>{{title}}</title>
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
  {% block js %}
  {% endblock %}
</html>
