{% extends "layouts/base.html" %}

{% block css %}
  <script src="{{ assetsPath("todo.css") }}"></script>
{% endblock %}

{% block body %}
  <div id="todo_component">
  </div>
  <form action="/todo/new" method="post">
    <input type="hidden" name="_csrf" value="{{ csrf }}" />
    <input type="hidden" name="utf8" value="✓" />
    <input type="text" name="content"/>
    <input type="submit" value="submit"/>
  </form>
{% endblock %}

{% block js %}
  <script src="{{ assetsPath("todo.js") }}"></script>
{% endblock %}
