* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.main_wrapper {
  width: 70%;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 100px 0;
}

.main_header {
  font-size: 2em;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.main_footer {
  height: 150px;
  width: 100%;
  background-color: #fafafa;
}
